html, body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #696297;
}
.navbar {
    background-color: #403a65;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    letter-spacing: 0.35px;
}
.navbar a:hover, h2 {
    background-color: #d6cef0;
    color: rgb(37, 22, 63);
}
.footer {
    background-color: #403a65;
    color: #f2f2f2;
    text-align: right;
    padding: 0px;
    position: fixed;
    left: 0;
    right: 10px;
    bottom: 0;
    width: 100%;
    font-size: medium;
    letter-spacing: 0.35px;
}
.footer p {
        margin: 10px;
    }

.chatroom {
    background-color: #d6cef0;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.chatroom h2 {
    margin-top: 0;
    color: #25163f;
    font-size: larger;
}
