html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-self: center;
}
.navbar {
    background-color: #403a65;
    overflow: hidden;
    width: 490%;
    justify-content: center;
    justify-self: center;
    align-items: center;
    
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #25163f;
}
.profile-container {
    background-color: #d6cef0;
    justify-self: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    text-align: center;
}
